{% extends "base.html" %}
{% block content %}
<div class="border border-warning shadow rounded-3 m-4 p-4">
  <div class="media-body">
    <div class="row">
      <div class="col-2">
        <img src="{{ image_file }}" class="rounded-circle" style="width: 150px; height: 150px;" alt="фото">
      </div>
      <div class="col">
        <h2 class="account-heading">{{ current_user.name }} {{ current_user.last_name }}</h2>
        <p class="">End aligned text on all viewport sizes.</p>
        <p class="text-secondary">{{ current_user.user_email }}</p>
        <div class="border border-secondary rounded-3 p-3 pt-1 pb-1">
          <small class="text-muted">О себе</small><hr>
          <p class="text-secondary">{{ current_user.about }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
