{% extends "base.html" %}
{% block content %}
  <div class="border border-warning shadow rounded-3 m-4 p-4">
    <form method="post" action="">
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <legend class="mb-4">Регистрация</legend>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                {% if form.name.errors %}
                  {{ form.name(class="form-control is-invalid", placeholder="Имя") }}
                  {{ form.name.label() }}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.name(class="form-control", placeholder="Имя") }}
                  {{ form.name.label() }}
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                {% if form.last_name.errors %}
                  {{ form.last_name(class="form-control is-invalid", placeholder="Фамилия") }}
                  {{ form.last_name.label() }}
                  <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.last_name(class="form-control", placeholder="Фамилия") }}
                  {{ form.last_name.label() }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            {% if form.user_email.errors %}
              {{ form.user_email(class="form-control is-invalid", placeholder="Почта") }}
              {{ form.user_email.label() }}
              <div class="invalid-feedback">
                {% for error in form.user_email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.user_email(class="form-control", placeholder="Почта") }}
              {{ form.user_email.label() }}
            {% endif %}
          </div>
          <div class="form-floating mb-3">
            {% if form.password.errors %}
              {{ form.password(class="form-control is-invalid", placeholder="Пароль") }}
              {{ form.password.label() }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control", placeholder="Пароль") }}
              {{ form.password.label() }}
            {% endif %}
          </div>
          <div class="form-floating mb-3">
            {% if form.pass_password.errors %}
              {{ form.pass_password(class="form-control is-invalid", placeholder="Пароль повторно") }}
              {{ form.pass_password.label() }}
              <div class="invalid-feedback">
                {% for error in form.pass_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.pass_password(class="form-control", placeholder="повторно") }}
              {{ form.pass_password.label() }}
            {% endif %}
          </div>
          <div class="form-floating mb-3">
              {{ form.submit(class="btn btn-warning") }}
          </div>
          <div class="border-top warning pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{{ url_for('login') }}">Войти</a>
            </small>
          </div>
      </fieldset>
    </form>
  </div>
{% endblock content %}
